.bacteria {
	background: transparent url(../images/cells.png) 0 0 no-repeat;
	border: none;
	width: 28px;
	filter: none;
}

.bacteria.short {
	height: 128px;
	background-position: top left;
}

.bacteria.long {
	height: 278px;
	background-position: 0 -28px;
}

.virus {
	background: transparent url(../images/cells.png) 0 0 no-repeat;
	border: none;
	filter: none;
}

.virus.small {
	background-position: 0 -56px;
}

.virus.medium {
	background-position: -26px -56px;
}

.virus.large {
	background-position: -82px -56px;
}

.virus.xlarge {
	background-position: -220px -56px;
}

@media screen and (min-width: 768px) {
	.bacteria {
		background: transparent url(../images/cells.png) 0 0 no-repeat;
		border: none;
		width: 28px;
		filter: none;
	}

	.bacteria.short {
		height: 128px;
		background-position: top left;
	}

	.bacteria.long {
		height: 278px;
		background-position: bottom left;
	}

	.virus {
		background: transparent url(../images/cells.png) 0 0 no-repeat;
		border: none;
		filter: none;
	}

	.virus.small {
		background-position: 0 -56px;
	}

	.virus.medium {
		background-position: -26px -56px;
	}

	.virus.large {
		background-position: -82px -56px;
	}

	.virus.xlarge {
		background-position: -220px -56px;
	}
}