.bacteria {
	background: transparent url(../images/cells.png) 0 0 no-repeat;
	border: none;
}

.bacteria.short {
	background-position: top left;
}

.bacteria.long {
	background-position: bottom left;
}